
header {
    display: sticky;
}

nav {
    box-sizing: border-box;
    width: 100vw;

    border-bottom: solid var(--border_color) 0.1em;
}
nav .contents {
    display: flex;
    justify-content: space-between;
    max-width: 100em;
    margin: auto;

}

nav .logo {
    display: flex;
    text-decoration: none;

    transform-origin: 0% 50%;
    will-change: transform;

}
nav .logo:hover {
    transform: translateX(0.5em);
}

nav .logo img {
    padding: 0;
    margin: auto 0;

    object-fit: contain;
    height: 3em;
}

nav .logo .text {
    margin: auto 1em;
    transform: translateY(.25em);
}

nav .logo p {
    transform: translateY(-1em);
    font-family: 'Dancing Script', cursive;
}
nav .logo h1, p {
    padding: 0;
    margin: 0;
    color: var(--black_color);

}

nav .others {
    margin: auto 0;
}
nav .others .link {
    margin: 0 0 0 1em;
    display: inline-block;
    color: var(--black_color);
    text-decoration: none;

    transition: transform 0.5s;
}
nav .others .link:hover {
    transform: translateX(-.25em);
}
