@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

:root {
    --black_color: #1a1a1a;
    --border_color: #f2f2f2;
}

body {
    font-family: 'Amiri', serif;
    padding: 0;
    margin: 0;
}